[mgr]
prepend_keymap = [
  { on = "1", run = "plugin change-ratio -- 2 4 4" },
  { on = "2", run = "plugin change-ratio -- 1 4 0" },
  { on = "3", run = "plugin change-ratio -- 0 1 3" },
  { on = "4", run = "plugin change-ratio -- 0 0 1" },
  # { on = "F", run = "plugin zoom-preview", desc = "Zoom or restore preview pane" },
  # { on = "T", run = "plugin toggle-pane min-preview", desc = "Hide or show preview pane" },
  # { on = "R", run = "plugin toggle-pane min-parent", desc = "Hide or show parent pane" },
  { on = "C", run = "plugin ouch zip", desc = "Compress with ouch" },
  { on = "6", run = "plugin test", desc = "test" },
  { on = "e", run = "plugin open-with-cmd block", desc = "Execute command in the terminal" },
  { on = "E", run = "plugin open-with-cmd", desc = "Execute command" },
  { on = ["g", "s"], run = "plugin first-file", desc = "Jump to the first file" },
  # movement
  { on = "<C-k>", run = "arrow -5", desc = "Move cursor up 5 lines" },
  { on = "<C-j>", run = "arrow 5", desc = "Move cursor down 5 lines" },
  { on = "<C-Enter>", run = "arrow 5", desc = "Move cursor down 5 lines" },
  { on = "K", run = "seek -5", desc = "Seek up 5 units in the preview" },
  { on = "J", run = "seek 5", desc = "Seek down 5 units in the preview" },
  # shell
  { on = "w", run = 'shell "$SHELL" --block', desc = "Open shell here", for = "linux" },
  { on = "w", run = 'shell "nu" --block', desc = "Open shell here", for = "windows" },
  { on = "W", run = "tasks:show", desc = "Show the tasks manager" },
  { on = "i", run = 'shell --block --interactive --cursor=0 " %s ; read _"', for = "linux" },
  { on = "i", run = 'shell --block --interactive --cursor=0 " %s & pause"', for = "windows" },
  { on = "R", run = "refresh", desc = "Refresh" },
  # copy path/dirname
  { on = ["c", "c"], run = "copy path --separator=unix", desc = "Copy the file path" },
  { on = ["c", "d"], run = "copy dirname --separator=unix", desc = "Copy the directory path" },
  # nu.yazi plugin
  { on = ["c", "t"], run = "plugin nu -- open -r $hover | bp.exe", desc = "Copy the file contents" },
  { on = ["c", "u"], run = "plugin nu -- $all | each { path url } | str join (char nl) | bp.exe", desc = "Copy file url" },
  { on = ["c", "a"], run = """plugin nu -- '$all | each { str sandwich "`" } | str join " " | bp.exe'""", desc = "Copy as args" },
  { on = ["c", "r"], run = "plugin nu -- '$all | path relative-to (git rev-parse --show-toplevel) | str replace -a \\ / | to text | bp.exe'", desc = "Copy relative path" },
  # https://github.com/boydaihungst/pref-by-location.yazi
  # Any changes during disabled state won't be saved to save file.
  { on = [",", "t"], run = "plugin pref-by-location -- toggle", desc = "Toggle auto-save preferences" },
  { on = [",", "d"], run = "plugin pref-by-location -- disable", desc = "Disable auto-save preferences" },
  # This will reset any rule of this cwd then use predefined rules in setup funtion in init.lua or fallback to default settings from yazi.toml
  { on = [",", "R"], run = ["plugin pref-by-location -- reset"], desc = "Reset preference of cwd" },
  # Show Hidden
  { on = ".", run = ["hidden toggle", "plugin pref-by-location -- save"], desc = "Toggle the visibility of hidden files" },
  # Linemode
  { on = ["m", "s"], run = ["linemode size", "plugin pref-by-location -- save"], desc = "Linemode: size" },
  { on = ["m", "p"], run = ["linemode permissions", "plugin pref-by-location -- save"], desc = "Linemode: permissions" },
  { on = ["m", "b"], run = ["linemode btime", "plugin pref-by-location -- save"], desc = "Linemode: btime" },
  { on = ["m", "m"], run = ["linemode mtime", "plugin pref-by-location -- save"], desc = "Linemode: mtime" },
  { on = ["m", "o"], run = ["linemode owner", "plugin pref-by-location -- save"], desc = "Linemode: owner" },
  { on = ["m", "n"], run = ["linemode none", "plugin pref-by-location -- save"], desc = "Linemode: none" },
  # Sorting
  { on = [",", "m"], run = ["sort mtime --reverse=no", "linemode mtime", "plugin pref-by-location -- save"], desc = "Sort by modified time" },
  { on = [",", "M"], run = ["sort mtime --reverse", "linemode mtime", "plugin pref-by-location -- save"], desc = "Sort by modified time (reverse)" },
  { on = [",", "b"], run = ["sort btime --reverse=no", "linemode btime", "plugin pref-by-location -- save"], desc = "Sort by birth time" },
  { on = [",", "B"], run = ["sort btime --reverse", "linemode btime", "plugin pref-by-location -- save"], desc = "Sort by birth time (reverse)" },
  { on = [",", "e"], run = ["sort extension --reverse=no", "plugin pref-by-location -- save"], desc = "Sort by extension" },
  { on = [",", "E"], run = ["sort extension --reverse", "plugin pref-by-location -- save"], desc = "Sort by extension (reverse)" },
  { on = [",", "a"], run = ["sort alphabetical --reverse=no", "plugin pref-by-location -- save"], desc = "Sort alphabetically" },
  { on = [",", "A"], run = ["sort alphabetical --reverse", "plugin pref-by-location -- save"], desc = "Sort alphabetically (reverse)" },
  { on = [",", "n"], run = ["sort natural --reverse=no", "plugin pref-by-location -- save"], desc = "Sort naturally" },
  { on = [",", "N"], run = ["sort natural --reverse", "plugin pref-by-location -- save"], desc = "Sort naturally (reverse)" },
  # --sensitive=no or --sensitive
  # { on = [",", "N"], run = ["sort natural --reverse=no --sensitive", "plugin pref-by-location -- save"], desc = "Sort naturally" },
  { on = [",", "s"], run = ["sort size --reverse=no", "linemode size"], desc = "Sort by size" },
  { on = [",", "S"], run = ["sort size --reverse", "linemode size"], desc = "Sort by size (reverse)" },
  { on = [",", "r"], run = ["sort random --reverse=no", "plugin pref-by-location -- save"], desc = "Sort randomly" },
]

[tasks]
prepend_keymap = [{ on = "W", run = "close", desc = "Hide the task manager" }]

[pick]
prepend_keymap = [
  { on = "q", run = "close", desc = "Cancel selection" },
  { on = "l", run = "close --submit", desc = "Submit the selection" },
  { on = "<C-k>", run = "arrow -5", desc = "Move cursor up 5 lines" },
  { on = "<C-j>", run = "arrow 5", desc = "Move cursor down 5 lines" },
  { on = "<C-Enter>", run = "arrow 5", desc = "Move cursor down 5 lines" },
]

[input]
prepend_keymap = [
  { on = "<C-c>", run = "escape", desc = "Back to normal mode, or cancel input" },
  { on = "<Esc>", run = ["close", "mgr:escape --filter"], desc = "Close input and cancel the filter" },
  { on = "<C-Right>", run = "forward --after-last-char", desc = "Move forward to the end of the current or next word" },
  { on = "u", run = ["undo", "casefy lower"], desc = "Undo, or lowercase if in visual mode" },
  { on = "U", run = ["redo", "casefy upper"], desc = "Undo, or uppercase if in visual mode" },
]

[cmp]
prepend_keymap = [
  { on = "<C-k>", run = "arrow prev", desc = "Previous item" },
  { on = "<C-j>", run = "arrow next", desc = "Next item" },
  { on = "<C-Enter>", run = "arrow next", desc = "Next item" },
]

[help]
prepend_keymap = [
  { on = "<C-k>", run = "arrow -5", desc = "Move cursor up 5 lines" },
  { on = "<C-j>", run = "arrow 5", desc = "Move cursor down 5 lines" },
  { on = "<C-Enter>", run = "arrow 5", desc = "Move cursor down 5 lines" },
]
