[mgr]
ratio = [2, 4, 4]
sort_by = "alphabetical"
sort_sensitive = true
sort_reverse = false
sort_dir_first = true
show_hidden = true
show_symlink = true
linemode = "size"

[preview]
max_width = 1000

[opener]
edit = [
  { run = "${EDITOR:-vi} %s", desc = "Edit", for = "unix", block = true },
  { run = "%EDITOR% %s", desc = "Edit", for = "windows", block = true },
]
open = [
  { run = "xdg-open %s1", desc = "Open", for = "linux" },
  { run = 'start "" %s1', desc = "Open", for = "windows", orphan = true },
]
reveal = [
  { run = "xdg-open %d1", desc = "Reveal", for = "linux" },
  { run = "explorer /select,%s1", desc = "Reveal", for = "windows", orphan = true },
  { run = "exiftool %s | moor", desc = "Show EXIF", block = true },
]
extract = [
  # { run = "ouch decompress --no --quiet %s", desc = "Extract here" },
  # { run = "ouch list -t %s1 | moor", desc = "List contents of an archive", block = true },
  { run = "ya pub extract --list %s", desc = "Extract here" },
]
play = [
  { run = "xdg-open %s1", desc = "Play", for = "linux", orphan = true },
  { run = "mpv --force-window %s", desc = "Play", for = "windows", orphan = true },
  { run = "mediainfo %s | moor", desc = "Show media info", block = true },
]
audio = [
  { run = "xdg-open %s1", desc = "Play", for = "linux", orphan = true },
  { run = 'start "" %s1', desc = "Play", for = "windows", orphan = true },
  { run = "mediainfo %s | moor", desc = "Show media info", block = true },
  { run = 'ffprobe -v quiet -print_format json -show_format "%1" | jaq -r .format.tags[\"lyrics-XXX\"] | moor', block = true, desc = "Lyrics" },
]

[open]
prepend_rules = [
  { mime = "video/*", use = ["play", "reveal"] },
  { mime = "audio/*", use = ["audio", "reveal"] },
]

[plugin]
prepend_previewers = [
  # archive previewer: https://github.com/ndtoan96/ouch.yazi
  # { mime = "application/{*zip,tar,bzip2,7z*,rar,xz,zstd,java-archive}", run = "ouch --show-file-icons" },
]
prepend_fetchers = [
  # mime-ext plugin: https://github.com/yazi-rs/plugins/tree/main/mime-ext.yazi
  { id = "mime", url = "local://*", run = "mime-ext.local", prio = "high" },
  { id = "git", url = "*", run = "git" },
  { id = "git", url = "*/", run = "git" },
]
