[init]
  defaultBranch = main

[core]
  editor = nvim
  eol = lf
  autocrlf = false
  ; pager = delta
  excludesfile = ~/.config/git/ignore

[interactive]
	diffFilter = riff --color=on

[delta]
  navigate = true    # use n and N to move between diff sections
  light = false      # set to true if you're in a terminal w/ a light background color (e.g. the default macOS terminal)

[merge]
  conflictstyle = diff3

[diff]
  colorMoved = default

[alias]
  diff-words = diff --color-words='[^[:space:]]|([[:alnum:]]|UTF_8_GUARD)+'
  lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset' --abbrev-commit --date=relative

[pager]
	diff = riff
	show = riff
	log = delta
