(
    selected_tab: Some("#bc9cf7"),
    command_fg: Some("#80d0ff"),
    selection_bg: Some("#292e42"),
    selection_fg: Some("#80d0ff"),
    cmdbar_bg: Some("#1b1c27"),
    cmdbar_extra_lines_bg: Some("#1b1c27"),
    disabled_fg: Some("#56608a"),
    diff_line_add: Some("#9dce69"),
    diff_line_delete: Some("#f7788f"),
    diff_file_added: Some("#72daca"),
    diff_file_removed: Some("#dc4c4c"),
    diff_file_moved: Some("#ff007b"),
    diff_file_modified: Some("#e0af67"),
    commit_hash: Some("#bc9cf7"),
    commit_time: Some("#1abc9c"),
    commit_author: Some("#9dce69"),
    danger_fg: Some("#f7788f"),
    push_gauge_bg: Some("#1b1c27"),
    push_gauge_fg: Some("#c1cbf5"),
    tag_fg: Some("#ff007b"),
    branch_fg: Some("#e0af67"),
)

